.contact-single {
    height: auto;
}

.contact-single.contact button {
    margin-bottom: 50px;
}

.contact-details {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}

.contact-details a {
    text-decoration: none;
}

.contact-details .contact-phone:nth-child(2) {
    margin-left: 1.25rem;
}

.contact-socialIcons a {
    margin-left: 1.25rem;
}

/* Responsive */
@media(max-width:768px) {
    .contact-single {
        height: 80vh;
    }

    .contact-single h2 {
        margin-top: 10vw;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details .contact-phone:nth-child(2) {
        margin-left: 0;
        margin: 10px 0;
    }

    .contact-socialIcons a:first-child {
        margin: 0;
    }

    .contact input[type=text],
    .contact input[type=email],
    textarea {
        font-size: 0.95rem;
        width: inherit;
    }

    .contact input[type=text]:nth-child(2) {
        margin-top: 2vw !important;
    }

    .contact button {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .contact div:first-child {
        flex-direction: column;
    }
}