  .mob-menu {
      display: none;
  }

  /* Responsive */
  @media(max-width:768px) {
      .nav-links ul li {
          margin: 0.25rem 0%;
      }

      .nav-links ul li a {
          font-size: 1.25rem;
      }

      .logo {
          width: 30%;
          align-self: start;
      }

      .mob-menu {
          display: block;
          position: absolute;
          top: 15px;
          right: 20px;
          cursor: pointer;
      }
  }